body {
    background: lightgrey;
}

form {
    border: 2px solid black;   
    margin: 5px;
    padding: 20px;
    background: white;
}

#titulo {
    font-size: 40px;
    color: black;
    font-weight: bold;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

form legend {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

form fieldset {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin: 20px 0;
}


form label {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

form input, select, textarea {
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}

#botao {
    text-align: center;
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
}